<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DocumentPath" value="C:\Users\m4dh4tt3r\Desktop\Proposal\"/>
    <add key="OutputDocumentPath" value="C:\Users\m4dh4tt3r\Desktop\Proposal\Output\"/>
  </appSettings>
</configuration>