<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestDocReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="DocumentPath" value="C:\Users\M4dh4tt3r\Desktop\Proposal\" />
    <add key="OutputDocumentPath" value="C:\Users\M4dh4tt3r\Desktop\Proposal\Output\" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TestDocReader.Properties.Settings>
      <setting name="License" serializeAs="String">
        <value>aa948083-c933-452b-82f1-b369eec9d957</value>
      </setting>
      <setting name="FilterType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdvSectionFilter" serializeAs="String">
        <value>True</value>
      </setting>
    </TestDocReader.Properties.Settings>
  </userSettings>
</configuration>